body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    background-color: rgb(236, 236, 236);
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

form {
    width: 30%;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

textarea {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 3px;
    border: solid 1px;
    border-color: rgb(226, 226, 226);
}

.log-in, .log-out, .register {
  background-color: #790fcf;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #790fcf;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

.postPageDiv {
    text-align: center;
    padding: 15px;
}

.postHistoryDiv {
    background-color: rgb(255, 255, 255);
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 15px;
}

.planetPageDiv {
    text-align: center;
    padding: 15px;
}

.natalTransitDiv {
    text-align: center;
}

.profileDiv {
    text-align: center;
    padding: 15px;
}

#dropdown-basic-button {
    background-color: #790fcf;
    border: none;
    outline-color: gray;
}

#natalTransitToggle {
    border-color: rgb(0, 162, 183);
    outline: none;
}

#postButton {
    text-align: center;
    background-color:rgb(130, 159, 240);
    margin-left: 15px;
    margin-right: 15px; 
    border-radius: 10px;
}

.deleteButton {
    background-color: #acacac;
    text-align: right;
    height: 40px;
    border-radius: 10px;
}

.editButton {
    background-color: #b876ee;
    color: white;
    text-align: right;
    height: 40px;
    border-radius: 10px;
}

.cancelButton {
    background-color: #acacac;
    text-align: center;
    height: 40px;
    border-radius: 10px;
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
}

.saveButton {
    background-color: #b876ee;
    color: white;
    text-align: center;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
}



