body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    background-color: rgb(245, 245, 245);
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

form {
    color: white;
    margin-top: -50%;
    margin-bottom: -50%;
    padding-bottom: 60%;
    padding-top: 45%;
    border-radius: 2px;
    text-align: center;
    background: #1D2671;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #C33764, #1D2671);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #C33764, #1D2671); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.logoutButton {
    color: white;
}

option {
    text-align: right;
}

label {
    font-weight: bold;
    font-kerning: auto;
}

input {
    margin-bottom: 10px;
    text-align: center;
    border-radius: 8px;
    font-size: 16pt;
    min-height: 50px;
    width: 85%;
}

.registerSigns {
    padding-bottom: 10px;
    min-height: 50px;
    text-align: center;
    color: white;
    padding-left: 95px;
    padding-right: 95px;
}

textarea {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    border: solid 1px;
    border-color: rgb(226, 226, 226);
}

table {
    text-align: center;
    width: 90%;
}

.inputDiv {
    text-align: center;
}

.log-in, .log-out, .register {
  background-color:#7366a3;
  border-radius: 8px;
  margin-bottom: 5px;
  color: #f8f8f8;
  font-size: 16pt;
  font-weight: bold;
  font-kerning: auto;
  min-height: 50px;
  width: 85%;
  outline: none;
  border: none;
  cursor: pointer;
}

.loginRegText {
    color: white;
}

.loginPageBody {
    background: #1D2671;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #C33764, #1D2671);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #C33764, #1D2671); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.loginDiv {
    padding-top: 50%;
    text-align: center;
}

.calKey {
    text-align: left;
    font-size: 10pt;
    background-color: white;
    padding: 5px;
    padding-top: 15px;
    padding-left: 15px;
    border-radius: 8px;
}

.postPageDiv {
    text-align: center;
    padding: 15px;
}

.postHistoryDiv {
    background-color: rgb(255, 255, 255);
    padding-bottom: 10px;
    padding-top: 5px;
    margin-bottom: 15px;
}

.planetPageDiv {
    text-align: center;
    padding: 15px;
}

.natalTransitDiv {
    text-align: center;
}

.profileDiv {
    text-align: center;
    padding: 15px;
}

#dropdown-basic-button {
    background-color: #7366a3;
    border: none;
    outline-color: gray;
}

.natalTransitToggle {
    border-color: rgb(50, 89, 196);
    outline: none;
}

#postButton {
    text-align: center;
    margin-bottom: -10px;
    margin-left: 15px;
    margin-right: 15px; 
    border-radius: 10px;
    background-color:#7366a3;
    border-radius: 8px;
    color: #f8f8f8;
    font-size: 16pt;
    font-weight: bold;
    font-kerning: auto;
    min-height: 50px;
}

.deleteButton {
    background-color: #1D2671;
    text-align: right;
    height: 40px;
    border-radius: 10px;
}

.editButton {
    background-color: #C33764;
    color: white;
    text-align: right;
    height: 40px;
    border-radius: 10px;
}

.cancelButton {
    background-color: #1D2671;
    color: white;
    text-align: center;
    height: 40px;
    border-radius: 10px;
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
}

.saveButton {
    background-color: #C33764;
    color: white;
    text-align: center;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.iconFill {
    fill: white;
}



