.nav-title {
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    color: #f2f2f2;
    padding-left: 10px;
}

.nav {
  text-align: center;
  overflow: hidden;
  outline: none;
  border: none;
  background: #8E2DE2;  
  background: -webkit-linear-gradient(to bottom, #8E2DE2, #4A00E0);  
  background: linear-gradient(to bottom, #8E2DE2, #4A00E0); 

}

.nav-link {
  text-align: center;
  color: #f2f2f2;
  background: #8E2DE2;  
  background: -webkit-linear-gradient(to bottom, #8E2DE2, #4A00E0); 
  background: linear-gradient(to bottom, #8E2DE2, #4A00E0); 

  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  background-color: #790fcf;
}

.nav-right {
  float: right;
}